:root {
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --primary-title-color: #212121;
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --primary-accent-color: #2196F3;
}


/* General */

body {
    font-family: roboto, sans-serif;
    color: var(--primary-title-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
    padding: 0px;
}

/* Header */

.header {
    background-color: var(--primary-white-color);
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo {
    color: var(--primary-accent-color);
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo.black {
    color: #000000;
}

.header-list-nav,
.header-list-email,
.header-list-tel {
    color: var(--primary-title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-list-nav:hover,
.header-list-nav:focus,
.accent,
.header-list-email {
    color: var(--primary-accent-color);
}

.header-list-tel {
    color: var(--primary-text-color);
}


/* Footer */

.footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo.white {
    color: var(--primary-white-color)
}

.footer-list {
    list-style: none;
}

.footer-list-address {
    color: var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.opacity {
    opacity: 60%;
}


/* INDEX */

/* Hero */
.hero {
    color: var(--primary-white-color);
    background-color: var(--footer-bg-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.title-hero {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 452px;
    margin-right: 452px;
}

.button-hero {
    font-family: roboto, sans-serif;
    color: var(--primary-white-color);
    background-color: var(--primary-accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    border: transparent;
}


/* Benefits */

.benefits {
    background-color: var(--primary-bg-color);
}

.benefits-subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.benefits .container {
    padding-top: 94px;
}


/* Services */

.services {
    background-color: var(--primary-bg-color)
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.services .title {
    margin-bottom: 50px;
}


/* Team */

.team {
    background-color: var(--secondary-bg-color);
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.team .title {
    margin-bottom: 50px;
}

/* PORTFOLIO */

.button-projects {
    font-family: roboto, sans-serif;
    color: var(--primary-title-color);
    background-color: var(--secondary-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    border: transparent;
    margin-bottom: 50px;
}

.button-projects:hover,
.button-projects:focus {
    color: var(--primary-white-color);
    background-color: var(--primary-accent-color)
}

.projects-subtitle {
    color: var(--primary-title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.projects-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.projects-border {
    width: 370px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #eeeeee;
}